/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */
body {
  background: #E6E6E9;
  font: 1em "ns_sans", "open sans" ,sans-serif;
  margin: 0;
  padding:0;
}

h1 {
  font-size: 2em;
  font-weight: inherit;
  color: #ffffff;
  margin: 0;
  padding-top: 3em;
  padding-left: .5em;
  padding-bottom: 1em;
  text-align: center;
}

h2 { 
  font-weight: inherit;
  font-size: .6em; 
  color: #003082;
  margin: 1em;
  padding-top: 1em;
  padding-left: 13em;
  text-align: left;
}

h3 {
  font-weight: inherit;
  color: #0077D6;
  font-size: .4em; 
  padding-left: 21em;
  padding-top: -3em;
}

h4 {
  font-weight: inherit;
  color: #ffffff;
  font-size: .4em; 
  background-color:#0077D6; 
  padding-left: 21em;
  padding-top: -3em;
  width: 6em;
}

nav {
  background-color:#FFF;
  height:3.25em;
  opacity:0.98;
  position:fixed;
  width:100%;
  z-index:1000;
}

nav a:first-child {
  margin:.1em 0 0 .5em;
  position:absolute;
  top: 1em;
  left: .5em;
  cursor: pointer;
}

nav a:nth-child(2){
  position: absolute;
  right: 3.5em;
  top: -.09em;
  cursor: pointer;
}

nav a:nth-child(3){
  margin:.1em 0 0 .5em;
  position:absolute;
  right:.7em;
  top:.3em;
  width:2.4rem;
  cursor: pointer;
}

nav a:last-child {
  margin:.1em 0 0 .5em;
  color: #003082;
  position:absolute;
  right:7em;
  top:.9em;
  cursor: pointer;
  text-decoration: none;
}

nav img {
  width: 3em;
}

header{
  background-image: url("baner.jpg");
  height: 18em;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

textarea {
  width: 90%;
  height: 10em;
  padding: 2em;
  margin: -1em 2em;
  margin-top: 3em;
  box-sizing: border-box;
  text-align: left;
}

form h1 {
  font-size: 1em;
  text-align: left;
  padding-left: 3em;
}

form {
  padding-top: 1em;
  background-color: #FFCA00;
  color: #003082;
}

button[type="submit"] {
  color: #FFFFFF;
  background-color: #0077D6;
  padding: .8em .8em;
  padding-right: 2em;
  padding-left: 2em;
  margin-top: 2em;
  margin-left: 1.4em;
  line-height: 1.5em;
  font-size: 1em;
  border: none;
  text-decoration: none;
  cursor: pointer;
  width: 21em;
}

fieldset {
  border: 0;
  list-style: none;
}

ul {
  list-style-type: none;
}

article {
  background: #ffffff;
  font-size: 1.5em;
  margin: .875em;
  height: 5em;
  width: 15em;
}

.clock {
  width: 1.5em;
  padding-left: 13em;
  position: absolute;
  margin-top: .2em;
}

#savebtn {
  width: 1.8em;
  height: 2.3em;
  padding-left: 12.7em;
  padding-top: 2.8em;
  margin: 0em;
  position: absolute;
  cursor: pointer;
}

#savebtn2 {
  width: 1.8em;
  height: 2.3em;
  padding-left: 12.7em;
  padding-top: 2.8em;
  margin: 0em;
  position: absolute;
  cursor: pointer;
}

#savebtn3 {
  width: 1.8em;
  height: 2.3em;
  padding-left: 12.7em;
  padding-top: 2.8em;
  margin: 0em;
  position: absolute;
  cursor: pointer;
}

/*cover*/
article img:last-child {
  width: 8em;
  height: 5em;
  overflow: hidden;
  position: relative;
  margin-top: -4.15em;
  padding-left: -1em;
  display: flex;
}

.smartphone {
  height: 100%;
  width: 100%
}

.tablet {
  height: 100%;
  width: 100%
}

.desktop {
  height: 100%;
  width: 100%
}

.seconds {
  background-color: #005BA3;
  height: .3em;
  width: 10.5em;
  position: relative;
  top: 1.6em;
  left: 13.3em;
}

.bar {
  background: #0077D6;
  height: .3em;
  width: 0%;
}

.animating {
  -webkit-animation: progress 2s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}


/*TABLET*/
@media only screen and (min-width: 30em) {
  h1 {
    font-size: 2.3em;
    text-align: center;
    margin-top: 1em;
  }

  h2 { 
    font-size: 1em; 
    margin: 1em;
    padding-left: 13em;
  }

  h3 {
    font-size: .6em; 
    padding-left: 23.5em;
  }

  h4 {
    font-size: .5em; 
    padding-left: 28em;
    width: 7em;
    margin-top: 2em;
  }

  header{
    background-image: url("baner.jpg");
    height: 25em;
  }

  legend {
    padding-left: 1em;
  }

  /*accordion*/
  button.accordion {
    display: none;
  }

  /*filter*/
  .ipad {
    display: inline-block;
  }

  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
  }

  form {
    width: 48em;
    margin-left: 1em;
    margin-right: 1em;
    justify-content: center;
    margin-top: -5em;
  }

  article {
    background: #ffffff;
    font-size: 1.5em;
    margin: .875em;
    height: 8em;
    width: 31.5em;
  }

  /*cover*/
  article img:last-child {
    width: 13em;
    height: 8em;
    padding-left: -1em;
    margin-top: -6.52em;
    }

  .clock {
    width: 2.5em;
    padding-left: 28.5em;
    padding-top: .5em;
  }

  #savebtn {
    width: 2.8em;
    height: 3.3em;
    padding-left: 28em;
    padding-top: 4.5em;
  }

   #savebtn2 {
    width: 2.8em;
    height: 3.3em;
    padding-left: 28em;
    padding-top: 4.5em;
  }
   #savebtn3 {
    width: 2.8em;
    height: 3.3em;
    padding-left: 28em;
    padding-top: 4.5em;
  }

  .seconds {
    height: .5em;
    width: 28.5em;
    top: 2em;
    left: 20.05em;
  }

  .bar {
    height: .5em;
  }

  .smartphone {
    display: none;
  }

  .desktop {
    display: none;
  }

  textarea {
    width: 50%;
    height: 10em;
    padding: 2em;
    margin: -1em 2em;
    margin-top: 3em;
  }

  button[type="submit"] {
    width: 23em;
    margin-left: 0em;
  }
}

/*desktop*/
@media only screen and (min-width: 50em) {
  header{
    height: 30em;
    width: 80em;
  }

  h1 {
    padding-top: 5em;
  } 

  /*filter*/
  ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }

  article {
    margin-left: 10em;
  }

  .seconds {
    height: .5em;
    width: 27.8em;
    top: 2em;
    left: 23.2em;
  }

  .bar {
    height: .5em;
  }

  .tablet{
    display: none;
  }

  .desktop{
    display: block;
  }

 

  textarea {
    width: 50%;
    height: 11em;
    padding: 2em;
    margin: -1em 2em;
    margin-top: 3em;
  }

  button[type="submit"] {
    width: 10em;
    margin-left: 0em;
  }
}